/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.container{
    max-width: 1400px;
    width: 100%;
}

.traffic{
    width: 200px;
    height: 500px;
    margin-left: 650px;
    border: 5px solid rgb(52, 52, 52);
    background-color:black;
    border-radius: 20px;
}

.red{
    width: 150px;
    height: 150px;
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 50%;
    border: 5px solid rgb(170, 170, 170);
    background-color: #ffffff;
}

.yellow{
    width: 150px;
    height: 150px;
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 50%;
    border: 5px solid rgb(170, 170, 170);
    background-color: #ffffff;
}

.green{
    width: 150px;
    height: 150px;
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 50%;
    border: 5px solid rgb(170, 170, 170);
    background-color: #ffffff;
}

@media screen and (max-width:1024px) {
    .traffic{
        width: 150px;
        height: 400px;
        margin-left: 450px;
        border: 5px solid rgb(52, 52, 52);
        background-color:black;
        border-radius: 10px;
    }
    
    .red{
        width: 100px;
        height: 100px;
        margin-left: 20px;
        margin-top: 15px;
        border-radius: 50%;
        border: 5px solid rgb(170, 170, 170);
        background-color: red;
    }

    .yellow{
        width: 100px;
        height: 100px;
        margin-left: 20px;
        margin-top: 15px;
        border-radius: 50%;
        border: 5px solid rgb(170, 170, 170);
        background-color: #ffffff;
    }
    
    .green{
        width: 100px;
        height: 100px;
        margin-left: 20px;
        margin-top: 15px;
        border-radius: 50%;
        border: 5px solid rgb(170, 170, 170);
        background-color: #ffffff;
    }

}

@media screen and (max-width:642px) {
    .traffic{
        width: 150px;
        height: 400px;
        margin-left: 250px;
        border: 5px solid rgb(52, 52, 52);
        background-color:black;
        border-radius: 10px;
    }
    
    .red{
        width: 100px;
        height: 100px;
        margin-left: 20px;
        margin-top: 15px;
        border-radius: 50%;
        border: 5px solid rgb(170, 170, 170);
        background-color: #ffffff;
    }

    .yellow{
        width: 100px;
        height: 100px;
        margin-left: 20px;
        margin-top: 15px;
        border-radius: 50%;
        border: 5px solid rgb(170, 170, 170);
        background-color: yellow;
    }
    
    .green{
        width: 100px;
        height: 100px;
        margin-left: 20px;
        margin-top: 15px;
        border-radius: 50%;
        border: 5px solid rgb(170, 170, 170);
        background-color: #ffffff;
    }
}

@media screen and (max-width: 375px) {
    .traffic{
        width: 150px;
        height: 400px;
        margin-left: 100px;
        border: 5px solid rgb(52, 52, 52);
        background-color:black;
        border-radius: 10px;
    }
    
    .red{
        width: 100px;
        height: 100px;
        margin-left: 20px;
        margin-top: 15px;
        border-radius: 50%;
        border: 5px solid rgb(170, 170, 170);
        background-color: #ffffff;
    }

    .yellow{
        width: 100px;
        height: 100px;
        margin-left: 20px;
        margin-top: 15px;
        border-radius: 50%;
        border: 5px solid rgb(170, 170, 170);
        background-color: #ffffff;
    }
    
    .green{
        width: 100px;
        height: 100px;
        margin-left: 20px;
        margin-top: 15px;
        border-radius: 50%;
        border: 5px solid rgb(170, 170, 170);
        background-color: green;
    }
}
